/*-- scss:defaults --*/

@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Sans+Narrow:400,700|PT+Serif:400,700,400italic&amp;subset=latin,latin-ext");

/*-- scss:rules --*/



/*-- navbar --*/

.navbar {
    padding-top: 0;
    padding-left: 10em;
    // margin-left: 10em;
    padding-bottom: 0;
    font-size: 1.2em;
    // // font-family: 'Arsenal', sans-serif;
    // //font-family: 'Bebas Neue', sans-serif;
    //  font-family: 'Economica', sans-serif;
    font-family: 'PT Sans', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
     text-transform: uppercase;
    //  background-image: url("img/Brand_slide.png");
    //  background-size: 1100px;
}

.navbar-brand {
    // overhang
    // position: absolute;
    // top: 0px;
    // padding-top: 2em;

    padding-left: 1em;
    padding-right: 1em;
    background-color: #00214d;
}

.navbar-brand.navbar-brand-logo {
    display: flex;
    padding-top: 1em;
    padding-bottom: .3em;
    margin-right: 0;
    margin-left: 2em;
}

.navbar-logo {
    max-height: 70px;
    padding-top: 0em;
    margin: 0;
    width: auto;
    align-items: baseline;
}

.navbar-nav {
    // margin-left: 15em //overhang
    margin-left: 2em
}

.nav-item {
    margin-left: 0.5em;
    margin-top: 2rem; 
}
